.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-image: url(../../assets/Img/mariage.jpg);
    background-repeat: round;
    background-size: 100% auto;
    
}
h2 {
    font-size: 100px;
    font-family: 'Title';
    color: indianred;
}
p {
    font-size: 45px;
    color: white;
    font-family: 'Title';
}
button {
    width: 180px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
}
button:hover {
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
    background-color: indianred;
}

@font-face
{
    font-family: 'Title';
    src: url('../../assets/Police/youmurdererbb_reg.ttf');
}

