.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-image: url(https://previews.123rf.com/images/alfazetchronicles/alfazetchronicles1708/alfazetchronicles170800427/84558710-mariage-de-zombies-avec-un-couple-de-zombie-mari%C3%A9-dr%C3%B4le-en-style-cartoon-personnage-de-monstre-mort-vivan.jpg);
    background-repeat: round;
    background-size: 100% auto;
    color: red
}
h2 {
    font-size: 85px;
}
p {
    font-size: 45px;
}
button {
    size: 50px;
}

