.gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/25/d8/08/25d808626ec84698eb64356057f0e1fe.jpg);
    background-repeat: round;
    background-size: 100% auto;
    color: red
}
h2 {
    font-size: 85px;
}
p {
    font-size: 45px;
}
button {
    size: 50px;
}